/********************************************
CONTENTS:************************************
---------------------- **********************
~IMPORTS~ ************ **********************
~VARIABLES~ ********** **********************
~MIXINS~ ************* **********************
~NAV~ **************** **********************
~HOME~ *************** **********************
~BRANDING~ *********** **********************
~MEDIA QUERIES~ ****** **********************
---------------------- **********************
********************************************/

/********************************************
***************** ~IMPORTS~ *****************
********************************************/
@import '~normalize.css';
@import '~loaders.css/src/animations/line-spin-fade-loader.scss';
@import url(./_base/_animations.scss);
@import url(./_base/_base.scss);
@import url(./_base/_colors.scss);
@import url(./_base/_easings.scss);
@import url(./_base/_fonts.scss);

/********************************************
**************** ~VARIABLES~ ****************
********************************************/


/********************************************
****************** MIXINS *******************
********************************************/

/********************************************
***************** ~LOADERS~ *****************
********************************************/

.loader-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-hidden { display: none; }

.loader-active { display: block; }

.loader-active .loader-inner div { background-color: #970d11; }


/********************************************
************* ~MEDIA QUERIES~ ***************
********************************************/
@media screen and (min-width:981px) {}

@media screen and (min-width:671px) and (max-width:980px) {}

@media screen and (min-width:415px) and (max-width:670px) {}

@media screen and (max-width:414px) {}